@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    padding: 0;
    margin: 0;
   font-family: "Poppins", sans-serif;
}

.hero-container {
    background-image: url(winner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
}
nav ul {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
    list-style-type: none;
    align-items: center;
    justify-content: center;

   
    background-color: transparent;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: red;
}

ul img {
    margin-right: 200px;
    height: 70px;
    width: 50px;
}

.herosection {
    width: 100%;
    height: 650px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
}

.lefthand {
    margin-right: 200px;
    max-width: 400px;
}

.lefthand button {
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: red;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.lefthand button:hover {
    background-color: darkred;
}

.righthand {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

